body
{
    background: linear-gradient(to bottom right,#35c761, #65979b );
}

.navbar
{
    background-color: white;
    padding: 20px;
    max-width: 100%;
    border-radius: 10px;
}

.navbar a
{
    padding: 10px;
    text-decoration: none;
    color: black;
    font-family: 'Tilt Neon', cursive;
}

hr
{
    background-color: black;
}



.section-title
{
   text-align: center;
   font-size: 1.5rem;
    font-weight: 600;
    margin-top: 2rem;
    font-family: 'Tilt Neon', cursive;
}

.cart-box
{
    display: grid;
    grid-template-columns: 32% 50% 18%;
    align-items: center;
    gap: 1rem;
    margin-top: 1rem;

}

.cart-img
{
    width: 80px;
    height:80px;
    object-fit: contain;
    padding: 10px;
}

.detail-box
{
    display: grid;
    row-gap: 0.5rem;
}

.cart-product-title
{
    color: rgb(250, 250, 250);
    font-size: 1.5rem;
    text-transform: uppercase;
    font-family: 'Tilt Neon', cursive;

}

.cart-price
{
    color: white;
    font-weight: 500;
    font-family: 'Tilt Neon', cursive;

}

.cart-quantity
{
    border: 1px solid orangered;
    outline-color: white;
    width: 2.4rem;
    text-align: center;
    font-size: 1rem;
}

.cart-remove
{
    font-size: 24px;
    color: white;
    cursor: pointer;
}

.total
{
    display: flex;
    justify-content: flex-end;
    margin-top: 1.5rem;
    border-top: 1px solid white;
}



.section-title
{
    display: flex;
    justify-content: center;
    background-color: white;
    height:70px;
    font-size: 1.5rem;
    font-weight: 600;
    text-align: center;
    margin-bottom: 1.5rem;
    font-family: 'Tilt Neon', cursive;
    border-radius: 10px;
    width: 400px;

}


.shop
{
margin-top: 2rem;
margin-right: 50%;
}

h2
{
    color: rgb(0, 0, 0);
    font-family: 'Tilt Neon', cursive;

}



.price
{
    color: rgb(0, 0, 0);
    font-family: 'Tilt Neon', cursive;

}

.items-title h2
{
    margin-left: 60px;
    margin-top: 30px;
}

.total-title
{
    color: rgb(0, 0, 0);
    font-size: 1rem;
    font-weight: 600;
}

.total-price
{
    color: rgb(0, 0, 0);
    margin-left: 0.5rem;

}

.btn-buy
{
   display: flex;
   margin: 1.5rem auto 0 auto;
   padding: 12px 20px;
   border: none;
   background: white;
   color: rgb(0, 0, 0);
   font-size: 1rem;
   font-weight: 500;
   cursor: pointer;

}

.btn-buy:hover
{
    background: rgb(0, 0, 0);

}

#close-cart
{
    position: absolute;
    top: 1rem;
    right: 0.8rem;
    font-size: 2rem;
    cursor: pointer;
}
/*shop Content */

.shop-content
{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(250px,auto));
    gap: 1.5rem;
}



.product-box
{
    position: relative;
    background-color: white;
    margin-bottom: 15px;
    cursor: pointer;
    padding-bottom: 15px;
    background-color: black;
    
}

.product-box:hover
{
padding: 10px;
border: 1px solid rgb(21, 22, 21);
transition:  0.4s;

}

.product-box a
{
    margin-left: 20px;
    text-decoration: none;
}

.product-img
{
    width: 100%;
    height: auto;
    margin-bottom: 0.5rem;

}

.product-title
{
    color: rgb(250, 249, 249);
   font-size: 1.1rem;
   font-weight:  600;
   text-transform:uppercase ;
   margin-bottom:  0.5rem; 
   text-align: center;
   text-decoration: none;
}

.price
{
    text-decoration: none;
    font-weight: 500;
    margin-left: 20px;
    color: white;
}

.add-cart
{
    position: absolute;
    bottom: o;
    
    right: 0;
    background: rgb(253, 251, 251);
    color: rgb(0, 0, 0);
    padding: 10px;
    cursor: pointer;
}

.add-cart:hover
{
    background: hsl(152, 95%, 78%);
}


.cart-body
{
    margin: 0;
    padding: 0;
    
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cart-container
{
    width: 70%;
    height: 85%;
    background-color: white;
    border-radius: 20px;
    box-shadow: 0px 25px 40px #1687d933;
}

.Header{
    margin: auto;
    width: 90%;
    height: 15%;
    display: flex;
    justify-content: space-between;
    align-items: center;
   }
   .Heading{
    margin-top: 40px;
    font-size: 100px;
    font-family: 'Bebas Neue', cursive;
    font-weight: 700;
    color: #2F3841;
   }
   .Action{
    font-size: 20px;
    font-family: 'Bebas Neue', cursive;
    font-weight: 600;
    color: #ffffff;
    cursor: pointer;
    text-decoration: none;
   }

   .erase-button button
   {
    margin-top: 20px;
    margin-left: 30px;
    border-radius: 20px;
    width: 160px;
    height: 50px;
    outline: 0;
    border: none;
    background-color: rgb(19, 146, 68);
   }

   .erase-button button:hover
   {
    background-color: black;
    color: white;
    transition: 0.8s;
   }